[Unit]
Description=LED Scoreboard Driver

[Service]
Type=forking
ExecStartPre=leuro-m20-bbb.hwinit start
ExecStart=leuro-m20-bbb
ExecStop=leuro-m20-bbb.hwinit stop

[Install]
WantedBy=basic.target
